<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itdreamworks.customerdatamanage.mapper2.CustomerSaleRecordMapper2">
    <resultMap id="BaseResultMap" type="com.itdreamworks.customerdatamanage.entity.db.CustomerSaleRecord">
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="CustomerId" jdbcType="INTEGER" property="customerId"/>
        <result column="ProductLocalId" jdbcType="VARCHAR" property="productLocalId"/>
        <result column="EndUserLocalId" jdbcType="VARCHAR" property="endUserLocalId"/>
        <result column="SaleDatetime" jdbcType="TIMESTAMP" property="saleDatetime"/>
    </resultMap>
    <sql id="Table">
    Customer_Sale_Record
  </sql>
    <sql id="Base_Column_List">
    Id,CustomerId,ProductLocalId,EndUserLocalId, SaleDatetime
    </sql>
    <insert id="add" parameterType="com.itdreamworks.customerdatamanage.entity.db.CustomerSaleRecord">
        INSERT
        INTO
        <include refid="Table"/>
        (CustomerId,ProductLocalId,EndUserLocalId, SaleDatetime)
        VALUES
        (
        #{customerId},#{productLocalId},#{endUserLocalId}, #{saleDatetime}
        )
    </insert>
</mapper>