<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itdreamworks.customerdatamanage.mapper2.EnterpriseProductForCustomer2">
    <resultMap id="BaseViewResultMap" type="com.itdreamworks.customerdatamanage.entity.db.EnterpriseProductForCustomerView">
        <result column="EnterpriseName" jdbcType="VARCHAR" property="enterpriseName" />
        <result column="CategoryName" jdbcType="VARCHAR" property="categoryName" />
        <result column="CustomerId" jdbcType="INTEGER" property="customerId" />
        <result column="ProductCode" jdbcType="VARCHAR" property="productCode" />
        <result column="SaleDatetime" jdbcType="TIMESTAMP" property="saleDatetime" />
    </resultMap>
    <resultMap id="BaseTableResultMap" type="com.itdreamworks.customerdatamanage.entity.db.EnterpriseProduct">
        <id column="EnterpriseId" jdbcType="INTEGER" property="enterpriseId" />
        <id column="ProductCode" jdbcType="VARCHAR" property="productCode" />
        <result column="Id" jdbcType="INTEGER" property="id" />
        <result column="DeviceId" jdbcType="INTEGER" property="deviceId" />
        <result column="CategoryId" jdbcType="INTEGER" property="categoryId" />
        <result column="Status" jdbcType="INTEGER" property="status" />
    </resultMap>
    <sql id="Table">
      EnterpriseProduct
    </sql>
    <sql id="View">
        EnterpriseProductForCustomerView
    </sql>
    <sql id="View_Column_List">
      EnterpriseName, CategoryName,ProductCode,SaleDatetime
    </sql>
    <sql id="Table_Column_List">
      EnterpriseId,  ProductCode, Id,DeviceId,CategoryId,Status
    </sql>
    <select id="getTransactionRecords" resultMap="BaseViewResultMap">
        SELECT
        <include refid="View_Column_List"/>
        FROM
        <include refid="View"/>
        WHERE
        SaleDatetime >=#{startDatetime}
        AND
        CustomerId = #{customerId}
    </select>
    <select id="getProduct" resultMap="BaseTableResultMap">
        SELECT
        <include refid="Table_Column_List"/>
        FROM
        <include refid="Table"/>
        WHERE
        ProductCode=#{productCode}
    </select>
</mapper>